  <div class="span4">
    <% cycle("1","2", "3") %>
    <div class="coolrecipe recipe">
    <table class="table">
        <%=image_tag recipe.recipe_image.thumb.url if recipe.recipe_image %>
      <tr>
        <th>Title</th>
        <td><%= recipe.title %></td>
      <tr>
        <th>Author</th>
        <td><%= recipe.author %></td>
      <tr>
        <th>Instructions</th>
        <td><%= recipe.instructions %></td>
      <tr>
        <th>Category</th>
        <td><%= recipe.categories.category_name if recipe.categories %></td>
      <tr>
        <th>Ingredients</th>
        <td><%= recipe.ingredients.map(&:name).to_sentence %>
        </td>
        <tr>
      </table>
        <div class="links">
          <%= link_to 'See details', recipe_path(recipe)%>
        <% if can? :edit, Recipe %>
          <%= link_to '- Edit', edit_recipe_path(recipe)%>
         <% end %>
        <% if can? :delete, Recipe %>
          <%= link_to '- Delete', recipe, method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %>
      </div>
    </div>
  </div>
  <% if current_cycle == '3' %>
    </div>
    <div class="row">
    <% end %>