<h3>Recipes details</h3>
<div class="row">
  <div class="span5 offset1">
    <br>
    <div class="coolrecipe">
      <%=image_tag @recipe.image, size: '300x200' %>
      <table class="table">
        <tr>
          <th>Title</th>
          <td><%= @recipe.title %></td>
        <tr>
          <th>Instructions</th>
          <td><%= @recipe.instructions %></td>
        <tr>
          <th>Author</th>
          <td><%= @recipe.author %></td>
        <tr>
          <th>Category</th>
          <td><%= @recipe.categories.category_name if @recipe.categories %></td>
        <tr>
          <th>Ingredients</th>
          <td><% @recipe.ingredients.each do |ingredient| %>
                <%= ingredient.name %>
                <% end %>
          </td>
      </table>
      <br>
      <%= link_to 'Edit,', edit_recipe_path(@recipe.id)%>
      <%= link_to 'Delete', recipe_path(@recipe.id), method: :delete, data: { confirm: 'Are you sure?' }%>
    </div>
  </div>
</div>