<div class="span5 offset1">
  <%= render 'shared/error_message_ingredient' %>
  <div class="coolrecipe">
    <%= form_for(@ingredient) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %><br />
    </div>
    <div class="field">
      <%= f.label :image_url %>
      <%= f.text_field :image_url %><br />
    </div>

      <div class="field">

        <%= hidden_field_tag "ingredient[recipe_ids][]", nil %>
        <% Recipe.all.each do |recipe| %>
          <%= check_box_tag "ingredient[recipe_ids][]", recipe.id, @ingredient.recipe_ids.include?(recipe.id), id: dom_id(recipe) %>
          <%= label_tag dom_id(recipe), recipe.title %>
        <% end %>
      </div>
    <br>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
</div>
