  <div class="span3">
   <% cycle("1","2", "3","4") %>
    <div class="coolrecipe ingredient">
    <table class="table">
    <%=image_tag ingredient.image_url, size: '200x150' if ingredient.image_url %>
      <tr>
        <th>Name</th>
        <td><%= ingredient.name %></td>
        <tr>
        <th>Found in:</th>
        <td><%= ingredient.recipes.map(&:title).to_sentence %>
        </td>
        <tr>
      </table>

        <div class="links">
          <%= link_to 'See details', ingredient_path(ingredient)%>
        <% if can? :edit, Ingredient %>
          <%= link_to '- Edit', edit_ingredient_path(ingredient)%>
        <% end %>
        <% if can? :delete, Ingredient %>
          <%= link_to '- Delete', ingredient, method: :delete, data: { confirm: 'Are you sure?' }%>
        <% end %>
      </div>

    </div>
  </div>
  <% if current_cycle == '4' %>
    </div>
    <div class="row">
    <% end %>